<main>
  <!-- Service Run 'Header' -->
	<section class="container">
    <div class="row">
      <div class="col-xs-8">
        <h2><a ui-sref="project.services-detail({ServiceId: ServiceId})" >{{service.title}}</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h6 class="last-run-status">Last Run Status: {{lastStatus}}</h6>
        <a ng-href="{{'run-app.php#/' + projectData.id + '/services/' + service.id + '/run/run-history'}}" class="link margin-top8">
          Run History
        </a>
      </div>
      <div class="col-xs-6">
        <md-button ng-show="!hasCustomUI" ng-disabled="isRunning()" ng-click="run()" class="md-raised md-primary pull-right">
          Run
        </md-button>
        <md-button ng-disabled="!isRunning()" ng-click="cancelServiceRun($event,service)" class="md-raised md-warn pull-right">
          Cancel
        </md-button>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-xs-12"><div class="rh-divider"></div></div>
    </div>
  </div>

  <!-- Inputs/Outputs for Custom UIs -->
  <section class="container" ng-show="hasCustomUI">
    <div style="position: relative;">
      <div class="greyout" ng-show="isRunning()">
        <div class="loader"></div>
      </div>

      <div ng-show="service.interfaceModel.inParams.inputFile" layout="row" layout-align="space-between center" style="padding: 0px 40px; margin: 0px; background: white;">
        <h3 flex>Input File From Workspace:</h3>
        <div flex="40" style="margin: 0px 8px">
          <md-select placeholder="Select Project" ng-model="inputFile.projectModel" md-on-open="loadProjects()" ng-change="updateFileList(inputFile)">
            <md-option ng-repeat="p in projects" ng-value="{{p}}">{{p.title}}</md-option>
          </md-select>
        </div>
        <div flex="40">
          <md-select ng-show="inputFile.projectModel" placeholder="Select File" ng-model="inputFile.projectModelFile" ng-change="setinputFileValue(inputFile.projectModelFile)">
            <md-option ng-repeat="f in projectFiles" ng-value="{{f}}">{{f.documentName}}</md-option>
          </md-select>
        </div>
      </div>
      <div class="container" style="width: 100%; padding: 0px;">
          <!--Custom UI Content will be displayed here-->
          <div class="content-placeholder">
          </div>
      </div>
    </div>
  </section>

  <!-- Inputs/Outputs for Stock UI -->
  <section class="container" ng-show="!hasCustomUI">
		<div style="position: relative;">
			<div class="greyout" ng-show="isRunning()">
				<div class="loader"></div>
			</div>

			<div class="row" ng-show="service.interfaceModel.inParams.inputFile">
	      <div class="col-xs-12">
					<md-button ng-disabled="fileUploadInProgress" ng-click="uploadInputFile()" style="margin-left: 0px;" class="md-raised md-primary">Upload Input File</md-button>
					<div ng-show="fileUploadInProgress" class="file-loader"></div>
					<span ng-show="currentInputFile">Current Input File: {{currentInputFile.documentName}}</span>
					<span ng-show="currentInputFile" ng-click="unsetInputFile()" style="color: red;">X</span>
				</div>
			</div>

    <div class="row">
      <div class="col-xs-6">
        <label class="section">Inputs</label>
        <div class="form-group" ng-repeat="item in service.interfaceModel.inputs">
            <div ng-if="item.type != 'File'" class="sublabels">{{item.name}}</div>
            <input ng-if="item.type != 'File'" ng-model="item.value">
        </div>
      </div>

      <div class="col-xs-6">
        <label class="section">Outputs</label>
        <div class="form-group" ng-repeat="item in service.interfaceModel.outParams">
            <div class="sublabels">{{item.name}}</div>
            <input ng-disabled="true" ng-model="item.value">
        </div>
      </div>

    </div>
	</div>
  </section>
</main>
