.subComAddress{
  margin-top: 1em;
}

body{
  background-color: white;
}

.col-md-12 > h3{
  border-bottom: solid 1px green;
  margin-top: 3rem;
}

input[type="text"]:hover{
  border: 1px solid #75bc52;
}

input[type="text"]:focus{
  border: 2px solid #75bc52;
}

/* Thanks to Raúl Barrera on CodePen */

input[type="checkbox"],
input[type="radio"]{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.labelForOp {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 27px;
  cursor: pointer;

  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.labelForOp::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #75bc52;
  border-radius: 4px;
  z-index: -1;
}

input[type="radio"] + .labelForOp::before {
  border-radius: 18px;
}

input[type="radio"]:disabled + .labelForOp{
  color: #999;
  cursor: not-allowed;
}

input[type="radio"]:disabled + .labelForOp::before{
  border: 2px solid #999;
  cursor: not-allowed;
}

/* Checked */
input[type="checkbox"]:checked + .labelForOp,
input[type="radio"]:checked + .labelForOp{
  padding-left: 10px;
  color: #fff;
  z-index: 1;
}
input[type="checkbox"]:checked + .labelForOp::before,
input[type="radio"]:checked + .labelForOp::before{
  top: 0;
  width: 100%;
  height: 100%;
  background: #75bc52;
  z-index: -1;
}

.labelForOp,
.labelForOp::before {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  font-weight: normal;
}

select{
  outline: none;
  height: 3rem;
  border: 2px solid #75bc52;
  background: white;
}

option{
  font-size: 20px;
}

.header h1{
  // text-align: center;
  margin-top: 4rem;
}

.signup-tabs{
  margin-top: 2rem;
}
.signup-tabs ol{
  -webkit-padding-start: 0px;
  text-align: center;
}

.signup-tabs li{
  // display: inline;
  display:inline-block;
  padding: 0 20px 0 20px;
  // float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #6e797a;
  letter-spacing: .1em;
  list-style-type: none;
}

.sublabels{
  color: #737373;
}

.help-block{
  color: #999;
}

._selected{
  color: #75bc52 !important;
}

.section{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
  // background-color:
  color: #75bc52;
  padding: 4px 0px;
  border-radius: 4px;
}

.selection{
  margin-bottom: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
