.last-run-status {
  margin-top: 0px;
  font-weight: lighter;
}

.rh-divider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

.form-group {
  input {
    width: 100%;
  }
}