<main class="container dfarsAssessment">
  <div flex layout="row">

    <div flex="16" layout="column" class="tableOfContents">
      <table>
        <tr ng-repeat="module in modules">
          <td valign="top">
            <md-icon ng-if="module.id == state.moduleId">
              <ng-md-icon icon="lens" size="8"></ng-md-icon>
            </md-icon>
          </td>
          <td>
            <a ng-click="routePage('direct', module.id, 0)">{{module.name}}</a>
            <table ng-if="module.id == state.moduleId" class="subSections">
              <tr ng-repeat="section in sections">
                <td>
                  <md-icon ng-if="section.id == state.sectionId">
                    <ng-md-icon icon="lens" size="8"></ng-md-icon>
                  </md-icon>
                </td>
                <td>
                  <a ng-click="routePage('direct', module.id, section.id)">{{section.name}}</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div flex="80" layout="column" class="moduleBody">
      <div layout="row">
        <h2>{{modules[state.moduleId].name}}</h2>
        <h2 ng-if="!isFinishModule()">: {{sections[state.sectionId].name}}</h2>
      </div>

      <md-divider></md-divider>

      <!-- <div ng-if="isStartModule()" class="requirementModule">
        <div flex layout='row' layout-align='space-between center'><img flex='30' src='images/dod_seal.svg' style='padding:0px 20px 0px 20px'></img><div flex='70' layout='column' layout-align='space-between center'><div layout='row'><h3 style='color: #363636; text-decoration: underline'>DFARS: Defense Federal Acquisition Regulation Supplement</h3></div><p style='font-size: 18px; text-align:center'>All Department of Defense Contractors</br>must be</br><span style='color: #65AF3F'>adequately secure</span></br>by</br><span style='color:red; text-decoration:underline'>December 31, 2017</span>!</p></div></div>
      </div> -->

      <div ng-if="!isFinishModule()" class="requirementModule">
        <div ng-repeat="item in sections[state.sectionId].data">
          <div ng-if="item.type == 'info'">
            <h3>{{item.header}}</h3>
            <p>{{item.text}}</p>
          </div>

          <div ng-if="item.type == 'html'">
            <div ng-bind-html="trustedHtml(item.text)"></div>
          </div>

          <div ng-if="item.type == 'iteratbleField'" ng-init="initFields(item.header)">
            <div layout="row">
              <h3 style="margin-top: 10px">{{item.header}}</h3>
              <button ng-click="addField(item.header)">Add</button>
            </div>
            <form>
              <table>
                <tr ng-repeat="i in newArray(fieldCount[item.header]) track by $index">
                  <th style="padding-left: 10px" ng-repeat="field in item.text">{{makeLabel(field)}} <input type="text" name="{{field}}"</input></th>
                  <th ng-if="enableRemoveField(item.header, $index)"><button ng-click="removeField(item.header)">Remove</button></th>
                </tr>
              </table>
            </form>
          </div>

        </div>
      </div>


      <!-- RESULTS FOR FORMULATING REPORT -->
      <div ng-if="isFinishModule()" class="report">
        <div class="report-cover">
          <h1>Organization</h1>
          <h1>System</h1>
          <h1>Information System Security Plan (ISSP)</h1>

          <div class="report-cover-approvals">
            <div ng-repeat="principal in savedData.intro.principals">
              <p>Approved by: {{principal.name}}, {{principal.title}}</p>
              <p>Signature: _________________________ Date: __________</p>
              <p></p>
            </div>
          </div>
        </div>

      </div>
      <!-- END RESULTS -->


      <div layout="column" class="navFooter">
        <md-divider></md-divider>

        <div layout="row" layout-align="center center">
          <button ng-hide="hidePrevious()" ng-click="routePage('previous')">Previous</button>
          <button ng-hide="isFinishModule()" ng-click="routePage('next')">Next</button>
        </div>
      </div>
    </div>

  </div>
</main>
