$icon_color: #666;
.marketplace-box{

}

.content{
	h2{
		font-size: 18px;
		color:green;
		font-weight:normal;
	}
	md-card{
		background-color: rgb(224,224,224);
		height:250px;
		width:300px;
		.md-card-image{
			height:180px;
		}
	}

}

.marketplace{
	h1{
		font-weight: normal;
		font-size: 20px;
		padding-left:20px;
		padding-top:10px;
		span{
	    font-size: 30px;
	    font-weight: lighter;
	    color: green;
	    margin: 0px;
		}
	}
	.layout-padding{
		padding:0px;
	}

	&-search{
		height: 79px;
		padding: 16px 16px;

		&-field{
			md-input-container{
				padding: 0;
				font-size: 16px;
			}
			ng-md-icon{
				fill: $icon_color;
			}
		}

		&-button{
			.md-button:first-child{
				margin: 0 15px 0 0;
			}
			.md-button:last-child{
				margin: 0 0 0 15px;
			}
			ng-md-icon{
				fill: $icon_color;
			}
		}
	}

	&-carousel-tabs{
		md-tabs-wrapper{
			margin: 0 16px;
		}
	}

	&-storefronts{
	}
}
