<section class="main-section">
    <div class="container transform-main">
        <div class="row nav-row">
            <ng-md-icon class="nav-back" style="fill: white" icon="navigate_before" size="25"></ng-md-icon>
            <ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">TRANSFORM:</h3>
                <h3 class="help-title">HOW CAN WE HELP YOU?</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img class="bullet-image" ng-src="images/calc.png" type="image/png" height="80px">
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a>I want to improve estimates.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img class="bullet-image" ng-src="images/computer.png" type="image/png" height="80px">
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a>I want to improve my CNC operations.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img class="bullet-image" ng-src="images/ruler.png" type="image/png" height="80px">
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a>I want to improve my CMM operations.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img class="bullet-image" ng-src="images/meter.png" type="image/png" height="80px">
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a>I want to get lean.</a>
            </div>
        </div>
    </div>
</section>

<section class="transform-section">
    <div class="container transform-main">
        <div class="row nav-row">
            <ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon>
            <ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon>
            <img class="pull-right margin-right-3" ng-src="images/meter_grey.png" type="image/png" height="25px">
            <img class="pull-right margin-right-3" ng-src="images/ruler_grey.png" type="image/png" height="25px">
            <img class="pull-right margin-right-3" ng-src="images/computer_grey.png" type="image/png" height="25px">
            <img class="pull-right margin-right-3" ng-src="images/calc.png" type="image/png" height="25px">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">TRANSFORM:</h3>
                <h3 class="help-title">IMPROVE ESTIMATES</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-sm-2 col-md-2 video-column border-right">
                text
            </div>
            <div class="col-sm-10 col-md-10">
                <h3 class="border-bottom">DFM Tool</h3>
                <p>
                    This is an online application that allows you to upload a 3D solid model and promptly see where the
                    problem spots lie. It will help you generate a more accurate quote or better negotiate with your client
                    to avoid losing money and maximizing profit.
                </p>

                <button class="btn green-button">LAUNCH APP</button>
            </div>
        </div>
    </div>
</section>