<section class="signup-tabs">
  <ol>
    <li>
      <div>
        <ng-md-icon icon="person_add" style="fill: #6e797a" size="28"></ng-md-icon>
      </div>
      1. Create Your Account
    </li>
    <li class="_selected">
      <div>
        <ng-md-icon icon="description" style="fill: #6e797a" size="28"></ng-md-icon>
      </div>
      2. General Information
    </li>
    <li>
      <div>
        <ng-md-icon icon="business" style="fill: #6e797a" size="28"></ng-md-icon>
      </div>
      3. Company Information
    </li>
    <li>
      <div>
      <ng-md-icon icon="credit_card" style="fill: #6e797a" size="28"></ng-md-icon>
      </div>
      4. Payment Information
    </li>
  </ol>
</section>
