<div ng-if="$ctrl.title || $ctrl.category" class="row">
    <div class="col-md-12">
        <h3 ng-if="$ctrl.title" class="content-card-title">{{$ctrl.title}}</h3>
        <h3 ng-if="$ctrl.category" class="help-title">{{$ctrl.category}}</h3>
    </div>
</div>
<div class="row margin-bottom-10" ng-repeat="item in $ctrl.categorizedContent">
    <div ng-if="item.contentType">
        <div class="col-sm-3 col-md-3 media-column">
            <ng-youtube-embed ng-if="item.contentType === 'video'" video="item.videoSource" width="100%" height="100%"></ng-youtube-embed>
            <img ng-if="item.contentType === 'img'" ng-src="{{item.imgSource}}" width="100%" height="100%">
            <img ng-if="item.contentType === ''" ng-src="{{app.featureImage.large}}" width="100%" height="100%">
        </div>

        <div class="col-sm-9 col-md-9 description-column border-left">
            <h3 ng-if="item.contentType != 'document' && item.contentType != 'app'" class="border-bottom">{{item.title}}</h3>
            <h3 ng-if="item.contentType === 'app'" class="border-bottom"><a ng-href="{{'/service-marketplace.php#/' + item.id}}">{{item.title}}</a></h3>
            <h3 ng-if="item.contentType === 'document'" class="border-bottom">{{item.documentName}}</h3>

            <div class="spacing-container">
                <p>{{item.description}}</p>
                <a ng-if="item.buttonText && item.contentType != 'document' && item.contentType != 'app'" href="{{item.buttonLink}}">
                    <button class="btn green-button content-button">{{item.buttonText}}</button>
                </a>
                <button ng-if="item.contentType === 'document'" ng-click="downloadFile(document.id)" class="btn green-button content-button">Download</button>
                <div ng-if="item.contentType === 'app'">
                  <button run-default-button class="btn green-button content-button" ng-click="saveToDefaultProject(item)">Run</button>
                  <button class="btn green-button content-button margin-left-20" ng-disabled="!serviceMap[item.id]" ng-click="$ctrl.redirectToServiceHistory(serviceMap[item.id]['workspaceId'], serviceMap[item.id]['serviceId'])">Run History</button>
                </div>
            </div>
        </div>
    </div>
</div>
