

<main>
    <section class="container" ng-if="!(($root.isLogged && userData.roles && userData.roles[userData.companyId]) || ($root.isLogged && userData.isDmdiiAdmin))">
    <!-- <section class="container" ng-if="($root.isLogged && userData.roles && userData.roles[userData.companyId]) || ($root.isLogged && userData.isDmdiiAdmin)"> -->
        <div class="row">
          <h1 class="col-xs-9">DIGITAL MANUFACTURING COMMONS</h1>
          <!-- <img style="height:80px; width:80px;" ng-src="images/dmcLogo.png"> -->
          <div class="col-xs-3">
            <a class="social-button" href="http://www.uilabs.org/news-blog/blog/" target="_blank"><md-icon md-svg-src="images/comment-text-outline.svg" title="UILABS Blog"></a>
            <a class="social-button" href="https://twitter.com/DMDII_" target="_blank"><md-icon md-svg-src="images/twitter.svg" title="DMDII Twitter"></a>
            <a class="social-button" href="https://www.linkedin.com/company/ui-labs" target="_blank"><md-icon md-svg-src="images/linkedin-box.svg" title="UILABS LinkedIn"></a>
            <a class="social-button" href="https://www.instagram.com/uilabs_/" target="_blank"><md-icon md-svg-src="images/instagram.svg" title="UILABS Instagram"></a>
          </div>
        </div>

        <md-divider></md-divider>

        <div class="row">
          <!-- Recent updates -->
          <div class="col-xs-8">
            <h3 class="flexrow-header">Recent Updates</h2>
            <div class="content-panel project margin-right12-5" dmc-recent-updates></div>

          </div>
          <!-- Twitter -->
          <div class="col-xs-4">
            <h3 class="flexrow-header">Tweets from DMDII</h2>
            <twitter-timeline>
              <a class="twitter-timeline" data-chrome="noheader nofooter" data-height="502" href="https://twitter.com/DMDII_">Tweets from DMDII</a>
            </twitter-timeline>
          </div>
        </div>

        <div class="row">
          <div class="home-theater col-xs-12">
            <!-- <md-divider></md-divider> -->
            <!-- <div layout="row" layout-align="center"> -->
            <h3 class="flexrow-header">Videos from DMDII</h2>
            <!-- </div> -->
            <md-divider></md-divider>
            <div style="padding-top: 15px">
              <ng-youtube-embed listType="playlist" list="UUB9yv90uJXvKnCY-0vpjvtw" width="100%"></ng-youtube-embed>
            </div>
          </div>
        </div>

    </section>


    <section class="container">
    <!-- <section class="container" ng-if="!(($root.isLogged && userData.roles && userData.roles[userData.companyId]) || ($root.isLogged && userData.isDmdiiAdmin))"> -->

      <div class="row welcome">
        <h2 class="col-xs-12">WELCOME TO THE</h2>
        <h1 class="col-xs-12">DIGITAL MANUFACTURING COMMONS</h1>
        <h1 class="col-xs-4 small-underline"></h1>
        <p class="col-xs-12">Your portal to digital transformation for increased productivity.</p>
      </div>

    </section>
</main>

