<main>
   <section class="container">
        <div class="row" style="margin-bottom: 30px;">
          <h1 class="col-xs-8">My Favorites</h1>
          <div class="col-xs-4"style="text-align: right;" >
            <a href="">
              Add To Favorites<ng-md-icon icon="add" size="18"></ng-md-icon>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
              <div class="search-input-div col-xs-10">
                  <input class="search-input" type="text" ng-model="searchTerm" placeholder="Search">
                  <ng-md-icon icon="clear" size="15" class="pull-right clear-icon" ng-click="clearSearch()"></ng-md-icon>
              </div>
              <button class="btn search-button no-click-border col-xs-2" ng-click="search()">
                <ng-md-icon icon="search" size="20"></ng-md-icon>
              </button>
          </div>
        </div>
    </section>

    <section class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active hidden-xs"><a data-target="#favApps" aria-controls="favApps" role="tab" data-toggle="tab">Applications</a></li>
            <li role="presentation" class="hidden-xs"><a data-target="#favDoc" aria-controls="favDoc" role="tab" data-toggle="tab">Documents</a></li>
            <li role="presentation" class="hidden-xs"><a data-target="#favVid" aria-controls="favVid" role="tab" data-toggle="tab">Videos</a></li>

        </ul>
    </section>

<section class="gray">
    <div class="container">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="favApps">
                  <div class="row ">

                  </div>
            </div>
            <div role="tabpanel" class="tab-pane fade " id="favDoc">
                <div class="row ">
                    <div class="col-xs-12">
                  </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade " id="favVid">

                <div class="row ">
                    <div class="col-xs-12">

                  </div>
                </div>

            </div>
        </div>
    </div>




  <!-- <div>
       <md-button ng-contoller="myfavoritesCtrl2" class="favoriteButton" md-no-ink aria-label="myfavorites" ng-click="addFav()">
          <ng-md-icon class="star" icon="star"  size="25" ></ng-md-icon>
      </md-button>
</div> -->




      <!-- <favbutton></favbutton> -->








</main>
