<section class="onboarding-section">

  <div class="header">
    <h1>Tier 3 Membership Sign Up Page</h1>
  </div>

  <signup-tabs
    current-stage="1">
  </signup-tabs>


  <div class="container">

     <div class="row">
       <h3 class="col-xs-12">Before creating a company membership, you need to become a user of the DMC.</h3>
      </div>

      <div class="row" ng-if="$root.isLogged">
        <p class="col-xs-12">You are currently logged in as {{$root.userData.displayName}}</p>
      </div>

      <div class="row" ng-if="!$root.isLogged">
        <p class="col-xs-12">You are NOT logged in</p>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a ng-click="clickSignup()" ng-href='loginURL'>Create User Account</a>
        </div>
      </div>

  </div>

</section>
