<section class="onboarding-landing">
    <div class="row landing-container">

        <div class="row margin-bottom-20">
            <h2 class="text-center header">This is some text here.</h2>
            <h4 class="text-center">This is more text that is a short description of what is on this page.</h4>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row no-margin-row pricing-title-container tier3-title-container">
                    <h2 class="column-header">Tier 3</h2>
                </div>
                <div class="row no-margin-row content-row">
                    <h4 class="margin-left-10">
                        Small title here.
                    </h4>
                    <ul>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                    </ul>
                </div>
                <div class="row no-margin-row content-row">
                    <button class="btn sign-up-button tier3-button">SIGN UP</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-margin-row pricing-title-container tier2-title-container">
                    <h2 class="column-header">Tier 2</h2>
                </div>
                <div class="row no-margin-row content-row">
                    <h4 class="margin-left-10">
                        Small title here.
                    </h4>
                    <ul>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                    </ul>
                </div>
                <div class="row no-margin-row content-row">
                    <button class="btn sign-up-button tier2-button">SIGN UP</button>
                </div>
            </div>
            <div class="col-md-4 column-container">
                <div class="row no-margin-row pricing-title-container tier1-title-container">
                    <h2 class="column-header">Tier 1</h2>
                </div>
                <div class="row no-margin-row content-row">
                    <h4 class="margin-left-10">
                        Small title here.
                    </h4>
                    <ul>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                        <li>Sample Content</li>
                    </ul>
                </div>
                <div class="row no-margin-row content-row">
                    <button class="btn sign-up-button tier1-button">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>
</section>