<section class="onboarding-landing">
  <div class="row landing-container">
    <div class="row margin-bottom-20">
      <h2 class="text-center header">DMDII Membership Tier Descriptions</h2>
      <h4 class="text-center">The Digital Manufacturing and Design Innovation Institute is able to offer Industry, Academic, and Government institutions membership at multiple tiers. See what the institue can offer to you below.</h4>
    </div>

    <md-divider></md-divider>

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Industry Membership">
        <h3>
          All Industry Members Get access to:
        </h3>
        <ul>
          <li>Access to <strong>Members-Only networking database</strong></li>
          <li>Invitation to quarterly <strong>Members-Only Technology Showcases</strong>, including technology demonstrations and curated start-up showcases</li>
          <li>Development of and participation in <strong>Enterprise Projects</strong> – multi-party, government cost match projects</li>
          <li>Contract research & development using <strong>DMDII’s Manufacturing Lab</strong></li>
          <li>Access to a <strong>Standard Agreement</strong> to facilitate multi-party collaboration</li>
        </ul>
        <div class="row">
          <div class="col-md-4 column-container">
              <div class="row no-margin-row pricing-title-container tier1-title-container">
                  <h2 class="column-header">Tier 1</h2>
                  <h6 class="text-center sub-title">$400,000 Per Company/Year</h6>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #364141" size="35" ></ng-md-icon>
                  </div>
                  <h4 class="margin-left-10">
                      Members may be invited to:
                  </h4>
                  <ul>
                    <li>Showcase their technology in <strong>DMDII’s Manufacturing Lab</strong></li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members also get access to:
                  </h4>
                  <ul>
                    <li>License and usage of <strong>Project IP</strong> on enterprise projects</li>
                    <li>Participation in design, optimization and operation of DMDII <strong>Future Factory Initiative</strong></li>
                    <li><strong>Guaranteed</strong> invitation to quarterly <strong>Workshops</strong> focused on specific digital manufacturing priority topics</li>
                  </ul>
                  <h4 class="margin-left-10">
                      UI LABS Facilty:
                  </h4>
                  <ul>
                    <li><strong>Facility usage</strong>, including executive, conference and individual rooms 8 day/year</li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members get to lead:
                  </h4>
                  <ul>
                    <li>Develop and Participate in multi-party and member funded <strong>Partner Innovation Projects</strong></li>
                    <li><strong>Executive Committee</strong>, which is responsible for DMDII governance</li>
                    <li>A <strong>Technical Committee Seat</strong>, which is responsible for guiding the technical direction of DMDII including the strategic investment plan</li>
                  </ul>
              </div>
              <div class="row no-margin-row content-row">
                  <button class="btn sign-up-button tier1-button">CONTACT US</button>
              </div>
          </div>











          <div class="col-md-4">
              <div class="row no-margin-row pricing-title-container tier2-title-container">
                  <h2 class="column-header">Tier 2</h2>
                  <h6 class="text-center sub-title">$200,000 Per Company/Year</h6>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #0797AE" size="35" ></ng-md-icon>
                  </div>
                  <h4 class="margin-left-10">
                      Members may be invited to:
                  </h4>
                  <ul>
                    <li>Showcase their technology in <strong>DMDII’s Manufacturing Lab</strong></li>
                  </ul>
                  <h4 class="margin-left-10">
                      Additionally members receive:
                  </h4>
                  <ul>
                    <li><strong>Executive Committee</strong> representation</li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members also get access to:
                  </h4>
                  <ul>
                    <li>License and usage of <strong>Project IP</strong> on enterprise projects</li>
                    <li>Participation in design, optimization and operation of DMDII <strong>Future Factory Initiative</strong></li>
                    <li><strong>Guaranteed</strong> invitation to quarterly <strong>Workshops</strong> focused on specific digital manufacturing priority topics</li>
                  </ul>
                  <h4 class="margin-left-10">
                      UI LABS Facilty:
                  </h4>
                  <ul>
                    <li><strong>Facility usage</strong>, including executive, conference and individual rooms 8 day/year</li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members get to lead:
                  </h4>
                  <ul>
                    <li>Develop and Participate in multi-party and member funded <strong>Partner Innovation Projects</strong></li>
                    <li>A <strong>Technical Committee Seat</strong>, which is responsible for guiding the technical direction of DMDII including the strategic investment plan</li>
                  </ul>
              </div>
              <div class="row no-margin-row content-row">
                  <button class="btn sign-up-button tier2-button">CONTACT US</button>
              </div>
          </div>








          <div class="col-md-4">
              <div class="row no-margin-row pricing-title-container tier3-title-container">
                  <h2 class="column-header">Tier 3</h2>
                  <h6 class="text-center sub-title">$500 Per Company/Year</h6>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #75BC52" size="35" ></ng-md-icon>
                  </div>
                  <h4 class="margin-left-10">
                      Members may be invited to:
                  </h4>
                  <ul>
                    <li>Quarterly <strong>Workshops</strong> focused on specific digital manufacturing priority topics</li>
                    <li>Showcase their technology in <strong>DMDII’s Manufacturing Lab</strong></li>
                    <li>Develop and Participate in multi-party and member funded <strong>Partner Innovation Projects</strong></li>
                  </ul>
                  <h4 class="margin-left-10">
                      Additionally members receive:
                  </h4>
                  <ul>
                    <li><strong>Executive Committee</strong> representation</li>
                    <li><strong>Technical Committee</strong> representation</li>
                  </ul>
                  <h4 class="margin-left-10">
                      UI LABS Facilty:
                  </h4>
                  <ul>
                    <li><strong>Facility usage</strong>, including executive, conference and individual rooms for a low price</li>
                  </ul>

              </div>
              <div class="row no-margin-row content-row">
                <a href="/company-onboarding.php#/create">
                  <button class="btn sign-up-button tier3-button">SIGN UP NOW</button>
                </a>
              </div>
          </div>
        </div>
      </md-tab>
      <md-tab label="Academic/Non-Profit Membership">
      </md-tab>
      <md-tab label="U.S. Government Membership">
      </md-tab>
      <md-tab label="State and Local Government Membership">
      </md-tab>
    </md-tabs>
  </div>
</section>
