<div class="container marketplace-box" layout="row" >
  <div class="marketplace" layout="column" flex>
    <br><br>
    <h1><span>DMC Marketplace</h1></span>
    <hr />



    <!-- <div layout="row" class="wh-nav"layout-wrap>
        <a class="wh-link" ui-sref="{{tab.state}}" ng-repeat="tab in tabs" ng-class="{ selected: tab.state=='apps'}">
          {{tab.title}}
        </a>
    </div> -->

    <ul class="nav nav-tabs">
      <li class="active"><a ui-sref="apps">Apps</a></li>
      <li><a class="wh-link" ui-sref="content">Content</a></li>
      <li><a ui-sref="services">Services</a></li>
      <li><a ui-sref="swag">Swag</a></li>
    </ul>




    <!-- <md-content class="marketplace-search" layout="row" layout-align="center center">
      <form ng-click="submit(appQuery)" class="dmc-search global-search-form" flex="40">
        <div layout="row">
            <div layout="column" flex>
                <md-input-container md-no-float>
                    <md-icon>
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-icon>
                    <input type="text" placeholder="Name, category or keyword" ng-model="appQuery">
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <md-button type="submit" class="search-button">Search</md-button>
                </md-input-container>
            </div>
        </div>
      </form>
      <span flex></span>
    </md-content> -->

      <!-- <dmc-products-card
          search-card="isSearch"
          card-source="marketplaceItems"
          card-loading="downloadData"
          page-size="productCardPageSize"
          update-page-size="updatePageSize"
          current-page="productCardCurrentPage"
          total-size="marketplaceItems.count"
          class="content-panel-marketplace"
          hide-buttons="['compare']"
          view-all-link="'/marketplace.php#/search?product=services'"
          layout-margin>
      </dmc-products-card> -->
  </div>
</div>
