









<main>
    <!-- <section class="container" ng-if="(($root.isLogged && userData.roles && userData.roles[userData.companyId]) || ($root.isLogged && userData.isDmdiiAdmin))"> -->
    <section class="container">

    <div class="row welcome margin-bottom-30">
      <h2 class="col-xs-12">WELCOME TO THE</h2>
      <h1 class="col-xs-12">DMC Marketplace</h1>
      <h1 class="col-xs-4 small-underline"></h1>
      <p class="col-xs-12 lighter">Your portal to digital transformation for increased productivity.</p>
    </div>

    </section>

    <section class="container">
      <section id="main-section" class="main-section">
          <div class="container transform-main">
              <!-- <div class="row nav-row">
                  <a href="index.php"><ng-md-icon class="nav-back" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
                  <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <h3 class="transform-title">TRANSFORM:</h3>
                      <h3 class="help-title">HOW CAN WE HELP YOU?</h3>
                  </div>
              </div> -->
              <div class="row margin-bottom-10">
                  <a ng-click="gotoElement('improved-estimates')">
                      <img class="bullet-image" ng-src="images/calc.png" type="image/png" height="80px">
                  </a>
                  <div class="col-sm-7 col-md-10 bottom-border path-link">
                      <a ng-click="gotoElement('improved-estimates')">I want to improve estimates.</a>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <a ng-click="gotoElement('cnc-operations')">
                      <img class="bullet-image" ng-src="images/computer.png" type="image/png" height="80px">
                  </a>
                  <div class="col-sm-7 col-md-10 bottom-border path-link">
                      <a ng-click="gotoElement('cnc-operations')">I want to improve my CNC operations.</a>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <a ng-click="gotoElement('cmm-operations')">
                      <img class="bullet-image" ng-src="images/ruler.png" type="image/png" height="80px">
                  </a>
                  <div class="col-sm-7 col-md-10 bottom-border path-link">
                      <a ng-click="gotoElement('cmm-operations')">I want to improve my CMM operations.</a>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <a ng-click="gotoElement('get-lean')">
                      <img class="bullet-image" ng-src="images/meter.png" type="image/png" height="80px">
                  </a>
                  <div class="col-sm-7 col-md-10 bottom-border path-link">
                      <a ng-click="gotoElement('get-lean')">I want to get lean.</a>
                  </div>
              </div>
          </div>
      </section>

      <section id="improved-estimates" class="transform-section">
          <div class="container transform-content">
              <div class="row nav-row">
                  <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
                  <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
                  <img ng-click="gotoElement('get-lean')" class="pull-right margin-right-3" ng-src="images/meter_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cmm-operations')" class="pull-right margin-right-3" ng-src="images/ruler_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cnc-operations')" class="pull-right margin-right-3" ng-src="images/computer_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('improved-estimates')" class="pull-right margin-right-3" ng-src="images/calc.png" type="image/png" height="25px">
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <h3 class="transform-title">TRANSFORM:</h3>
                      <h3 class="help-title">IMPROVE ESTIMATES</h3>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">DFM Tool</h3>
                      <p>
                          This is an online application that allows you to upload a 3D solid model and promptly see where the
                          problem spots lie. It will help you generate a more accurate quote or better negotiate with your client
                          to avoid losing money and maximizing profit.
                      </p>
                      <button class="btn green-button">LAUNCH APP</button>
                  </div>
              </div>
          </div>
      </section>

      <section id="cnc-operations" class="transform-section">
          <div class="container transform-content">
              <div class="row nav-row">
                  <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
                  <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
                  <img ng-click="gotoElement('get-lean')" class="pull-right margin-right-3" ng-src="images/meter_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cmm-operations')" class="pull-right margin-right-3" ng-src="images/ruler_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cnc-operations')" class="pull-right margin-right-3" ng-src="images/computer.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('improved-estimates')" class="pull-right margin-right-3" ng-src="images/calc_grey.png" type="image/png" height="25px">
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <h3 class="transform-title">TRANSFORM:</h3>
                      <h3 class="help-title">IMPROVE CNC OPERATIONS</h3>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">CNC Productivity Features by Vendor</h3>
                      <p>
                          Etiam non  sem suscipit, pulvinar est non, luctus magna. Proin a placerat enim, eu porta velit.
                          Sed placerat pallentesque lorem, vitae volupat orci suscipit eu. Praesent sceleerisque leo
                          vehicula, pulvinar arcu quis, tincidunt quam.
                      </p>
                      <button class="btn green-button">SIEMENS</button>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">Sell Excess CNC Capacity</h3>
                      <p>
                          Etiam non  sem suscipit, pulvinar est non, luctus magna. Proin a placerat enim, eu porta velit.
                          Sed placerat pallentesque lorem, vitae volupat orci suscipit eu. Praesent sceleerisque leo
                          vehicula, pulvinar arcu quis, tincidunt quam.
                      </p>
                      <button class="btn green-button">LAUNCH APP</button>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">Reduce CNC Machine Error</h3>
                      <p>
                          Etiam non  sem suscipit, pulvinar est non, luctus magna. Proin a placerat enim, eu porta velit.
                          Sed placerat pallentesque lorem, vitae volupat orci suscipit eu. Praesent sceleerisque leo
                          vehicula, pulvinar arcu quis, tincidunt quam.
                      </p>
                      <button class="btn green-button">SEND INQUIRY</button>
                  </div>
              </div>
          </div>
      </section>

      <section id="cmm-operations" class="transform-section">
          <div class="container transform-content">
              <div class="row nav-row">
                  <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
                  <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
                  <img ng-click="gotoElement('get-lean')" class="pull-right margin-right-3" ng-src="images/meter_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cmm-operations')" class="pull-right margin-right-3" ng-src="images/ruler.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cnc-operations')" class="pull-right margin-right-3" ng-src="images/computer_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('improved-estimates')" class="pull-right margin-right-3" ng-src="images/calc_grey.png" type="image/png" height="25px">
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <h3 class="transform-title">TRANSFORM:</h3>
                      <h3 class="help-title">IMPROVE CMM OPERATIONS</h3>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">Auto CMM Programming + Optimization</h3>
                      <p>
                          Etiam non  sem suscipit, pulvinar est non, luctus magna. Proin a placerat enim, eu porta velit.
                          Sed placerat pallentesque lorem, vitae volupat orci suscipit eu. Praesent sceleerisque leo
                          vehicula, pulvinar arcu quis, tincidunt quam.
                      </p>
                      <button class="btn green-button">LAUNCH APP</button>
                  </div>
              </div>
          </div>
      </section>

      <section id="get-lean" class="transform-section">
          <div class="container transform-content">
              <div class="row nav-row">
                  <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
                  <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
                  <img ng-click="gotoElement('get-lean')" class="pull-right margin-right-3" ng-src="images/meter.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cmm-operations')" class="pull-right margin-right-3" ng-src="images/ruler_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('cnc-operations')" class="pull-right margin-right-3" ng-src="images/computer_grey.png" type="image/png" height="25px">
                  <img ng-click="gotoElement('improved-estimates')" class="pull-right margin-right-3" ng-src="images/calc_grey.png" type="image/png" height="25px">
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <h3 class="transform-title">TRANSFORM:</h3>
                      <h3 class="help-title">GET LEAN</h3>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">MEP On-Site Assessment</h3>
                      <p>
                          Etiam non  sem suscipit, pulvinar est non, luctus magna. Proin a placerat enim, eu porta velit.
                          Sed placerat pallentesque lorem, vitae volupat orci suscipit eu. Praesent sceleerisque leo
                          vehicula, pulvinar arcu quis, tincidunt quam.
                      </p>
                      <button class="btn green-button">BOOK NOW</button>
                  </div>
              </div>
              <div class="row margin-bottom-10">
                  <div class="col-sm-3 col-md-3 video-column border-right">
                      Video Here
                  </div>
                  <div class="col-sm-9 col-md-9">
                      <h3 class="border-bottom">DoD MRA Online Tool for New Business</h3>
                      <p>
                          Etiam non  sem suscipit, pulvinar est non, luctus magna. Proin a placerat enim, eu porta velit.
                          Sed placerat pallentesque lorem, vitae volupat orci suscipit eu. Praesent sceleerisque leo
                          vehicula, pulvinar arcu quis, tincidunt quam.
                      </p>
                      <button class="btn green-button">LAUNCH APP</button>
                  </div>
              </div>
          </div>
      </section>
    </section>
</main>
