<!-- <div class="horizontal-menu" layout="row">
  <div class="menu-title" layout="column">
    <div class="title">FILTER BY:</div>
    <a class="category clear-button" ng-href="{{clearUrl}}">Clear Filters</a>
  </div>
  <div layout="row">

    <div class="category-column"  layout="column" ng-repeat="level in treeSource.data">
      <div class="title">
        {{level.title}}
      </div>

      <div class="category" ng-repeat="category in level.categories">
        <a ng-class="{'selected' : category.opened}" ng-href="{{category.href}}">{{category.title}}</a>
      </div>
    </div>

  </div>

</div> -->


<div class="filter-container">
  <div id="member-filters">
    <div flex layout="row" class="row content-row">

      <div class="col-sm-12" ng-repeat="level in treeSource.data">
          <a layout="row" layout-align="start center" class="toggle-control collapsed" data-toggle="collapse" data-target="#filter-{{makeFilterName(level.title)}}"><h4>{{level.title}}</h4><span class="caret"></span></a>
          <div class="collapse" id="filter-{{makeFilterName(level.title)}}">
            <div ng-repeat="category in level.categories">
              <input type="checkbox" name="coType" data-ng-model="type.selected" id="{{category.title}}"/>
              <label for="{{category.title}}" class="labelForOp">{{category.title}}</label>
            </div>
          </div>
      </div>

      <!-- <a class="toggle-control collapsed" data-toggle="collapse" data-target="#member-filters"><span class="caret"></span></a>
      <a ng-href="{{clearUrl}}">Clear Filters</a>
      <div ng-repeat="level in treeSource.data">
        <h4>{{level.title}}</h4>

        <div class="collapse" id="member-filters" ng-repeat="category in level.categories">
          <!-- <a ng-class="{'selected' : category.opened}" ng-href="{{category.href}}">{{category.title}}</a> -->
          <!-- <input type="checkbox" name="coType" data-ng-model="type.selected" id="{{category.title}}"/>
          <label for="{{category.title}}" class="labelForOp">{{category.title}}</label>
        </div>
      </div> -->

      <!-- <div class="col-sm-6 text-right">
        <a ng-href="{{clearUrl}}">Clear Filters</a>
      </div> -->


    </div>
  </div>
</div>
